body{
    background-image:url("background.jpg");
    background-size:container;
  }
  img{
      margin-bottom:-0.5rem;
      background-color:white;
      width:150px;
      height:100px;
  }
  div{
      background-color: rgba(255,0,128,0.6);
      width:250px;
  }
  h3{
     margin-bottom:-0.5rem;
      color: white;
  }
  hr{
      color:white;
  }
  
   input::placeholder {
       background-color:white;
       color:black;
       width:220px;
       height:100px;
   }
   .forget-password{
       text-align:right;
       color:black;
   }
   button{
       width:220px;
       height:35px;
       background-color:black;
       color:white;
   }
